In [1]:
import pandas as pd
import geopandas as gpd

# 파일 불러오기

In [2]:
gdf = gpd.read_file("C:/Users/이정재/OneDrive/바탕 화면/공공데이터/practical_project/csv/point_1.shp")

df = pd.read_csv('C:/Users/이정재/OneDrive/바탕 화면/공공데이터/practical_project/csv/스마트팜_수정데이터.csv',encoding='cp949')

# 처리할 내용(컬럼 제거 및 시간 변환)

In [3]:
# 시간 변환
df['착유시작일시'] = pd.to_datetime(df['착유시작일시'], errors='coerce')
# 시간 변환
df['착유종료일시'] = pd.to_datetime(df['착유종료일시'], errors='coerce')

In [4]:
df

,농장아이디,개체번호,축종코드,제조사 아이디,측정일시,착유량,착유시작일시,착유종료일시,착유회차,전도도,체세포,혈액흐름,온도,유지방,유단백,공기흐름,수집일자,수집건수
0,20278,20130816010079,D00,agrirobotech,2021-09-01 6:52,16,2021-09-01 06:52:00,2021-09-01 07:04:00,1,7.1,NaN,N,39.9,4.1,3.3,1.5,20210902,1
1,20278,20130816010079,D00,agrirobotech,2021-09-01 17:02,17,2021-09-01 17:02:00,2021-09-01 17:11:00,2,6.8,NaN,N,40.2,4.5,3.2,2.1,20210902,1
2,20278,20130816010079,D00,agrirobotech,2021-09-02 1:41,14,2021-09-02 01:41:00,2021-09-02 01:51:00,1,6.8,NaN,N,39.9,4.8,3.1,1.9,20210903,1
3,20278,20130816010079,D00,agrirobotech,2021-09-02 7:28,10,2021-09-02 07:28:00,2021-09-02 07:36:00,2,6.8,NaN,N,39.6,5.0,3.1,1.7,20210903,1
4,20278,20130816010079,D00,agrirobotech,2021-09-02 14:33,11,2021-09-02 14:33:00,2021-09-02 14:45:00,3,6.8,NaN,N,40.0,4.7,3.2,1.3,20210903,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27921,20264,20191027020116,D00,agrirobotech,2021-09-25 1:29,9,2021-09-25 01:29:00,2021-09-25 01:35:00,1,6.2,NaN,N,38.8,3.3,3.3,3.7,20210926,1
27922,20264,20191027020116,D00,agrirobotech,2021-09-25 9:15,9,2021-09-25 09:15:00,2021-09-25 09:21:00,2,6.4,NaN,N,39.2,2.8,3.3,3.7,20210926,1
27923,20264,20191027020116,D00,agrirobotech,2021-09-25 19:28,11,2021-09-25 19:28:00,2021-09-25 19:35:00,3,6.4,NaN,N,39.5,2.5,3.4,3.9,20210926,1
27924,20264,20191027020116,D00,agrirobotech,2021-09-26 8:22,13,2021-09-26 08:22:00,2021-09-26 08:29:00,1,6.2,NaN,N,39.4,2.8,3.4,4.0,20210927,1
27925,20264,20191027020116,D00,agrirobotech,2021-09-26 19:42,13,2021-09-26 19:42:00,2021-09-26 19:49:00,2,6.4,NaN,N,39.6,2.5,3.4,3.7,20210927,1

In [5]:
# 1. 제거할 컬럼 리스트
drop_cols = ['축종코드', '제조사 아이디', '측정일시', '수집일자', '수집건수']

# 2. 컬럼 제거 + 농장아이디 20261인 행 제거
df = df.drop(columns=drop_cols)
df = df[df['농장아이디'] != 20261]

In [6]:
df

,농장아이디,개체번호,착유량,착유시작일시,착유종료일시,착유회차,전도도,체세포,혈액흐름,온도,유지방,유단백,공기흐름
0,20278,20130816010079,16,2021-09-01 06:52:00,2021-09-01 07:04:00,1,7.1,NaN,N,39.9,4.1,3.3,1.5
1,20278,20130816010079,17,2021-09-01 17:02:00,2021-09-01 17:11:00,2,6.8,NaN,N,40.2,4.5,3.2,2.1
2,20278,20130816010079,14,2021-09-02 01:41:00,2021-09-02 01:51:00,1,6.8,NaN,N,39.9,4.8,3.1,1.9
3,20278,20130816010079,10,2021-09-02 07:28:00,2021-09-02 07:36:00,2,6.8,NaN,N,39.6,5.0,3.1,1.7
4,20278,20130816010079,11,2021-09-02 14:33:00,2021-09-02 14:45:00,3,6.8,NaN,N,40.0,4.7,3.2,1.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
27921,20264,20191027020116,9,2021-09-25 01:29:00,2021-09-25 01:35:00,1,6.2,NaN,N,38.8,3.3,3.3,3.7
27922,20264,20191027020116,9,2021-09-25 09:15:00,2021-09-25 09:21:00,2,6.4,NaN,N,39.2,2.8,3.3,3.7
27923,20264,20191027020116,11,2021-09-25 19:28:00,2021-09-25 19:35:00,3,6.4,NaN,N,39.5,2.5,3.4,3.9
27924,20264,20191027020116,13,2021-09-26 08:22:00,2021-09-26 08:29:00,1,6.2,NaN,N,39.4,2.8,3.4,4.0
27925,20264,20191027020116,13,2021-09-26 19:42:00,2021-09-26 19:49:00,2,6.4,NaN,N,39.6,2.5,3.4,3.7

In [7]:
# 착유 시간(분) 계산
df['착유시간(분)'] = (df['착유종료일시'] - df['착유시작일시']).dt.total_seconds() / 60

In [8]:
df

,농장아이디,개체번호,착유량,착유시작일시,착유종료일시,착유회차,전도도,체세포,혈액흐름,온도,유지방,유단백,공기흐름,착유시간(분)
0,20278,20130816010079,16,2021-09-01 06:52:00,2021-09-01 07:04:00,1,7.1,NaN,N,39.9,4.1,3.3,1.5,12.0
1,20278,20130816010079,17,2021-09-01 17:02:00,2021-09-01 17:11:00,2,6.8,NaN,N,40.2,4.5,3.2,2.1,9.0
2,20278,20130816010079,14,2021-09-02 01:41:00,2021-09-02 01:51:00,1,6.8,NaN,N,39.9,4.8,3.1,1.9,10.0
3,20278,20130816010079,10,2021-09-02 07:28:00,2021-09-02 07:36:00,2,6.8,NaN,N,39.6,5.0,3.1,1.7,8.0
4,20278,20130816010079,11,2021-09-02 14:33:00,2021-09-02 14:45:00,3,6.8,NaN,N,40.0,4.7,3.2,1.3,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27921,20264,20191027020116,9,2021-09-25 01:29:00,2021-09-25 01:35:00,1,6.2,NaN,N,38.8,3.3,3.3,3.7,6.0
27922,20264,20191027020116,9,2021-09-25 09:15:00,2021-09-25 09:21:00,2,6.4,NaN,N,39.2,2.8,3.3,3.7,6.0
27923,20264,20191027020116,11,2021-09-25 19:28:00,2021-09-25 19:35:00,3,6.4,NaN,N,39.5,2.5,3.4,3.9,7.0
27924,20264,20191027020116,13,2021-09-26 08:22:00,2021-09-26 08:29:00,1,6.2,NaN,N,39.4,2.8,3.4,4.0,7.0
27925,20264,20191027020116,13,2021-09-26 19:42:00,2021-09-26 19:49:00,2,6.4,NaN,N,39.6,2.5,3.4,3.7,7.0