In [1]:
import pandas as pd

In [8]:
df = pd.read_csv("/Users/Jiwon/Documents/GitHub/practical_project/csv/test.csv", encoding="cp949")

In [9]:
df

,농장아이디,개체번호,착유량,착유시작일시,착유종료일시,착유회차,전도도,혈액흐름,온도,유지방,유단백,공기흐름,착유시간,나이,측정일,개체별 일일착유량,개체별 착유일수
0,20278,20130816010079,16,2021-09-01 06:52:00,2021-09-01 07:04:00,1,7.1,0,39.9,4.1,3.3,1.5,12.0,8,1,33,26
1,20278,20130816010079,17,2021-09-01 17:02:00,2021-09-01 17:11:00,2,6.8,0,40.2,4.5,3.2,2.1,9.0,8,1,33,26
2,20278,20130816010079,14,2021-09-02 01:41:00,2021-09-02 01:51:00,1,6.8,0,39.9,4.8,3.1,1.9,10.0,8,2,35,26
3,20278,20130816010079,10,2021-09-02 07:28:00,2021-09-02 07:36:00,2,6.8,0,39.6,5.0,3.1,1.7,8.0,8,2,35,26
4,20278,20130816010079,11,2021-09-02 14:33:00,2021-09-02 14:45:00,3,6.8,0,40.0,4.7,3.2,1.3,12.0,8,2,35,26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21653,20264,20191027020116,9,2021-09-25 01:29:00,2021-09-25 01:35:00,1,6.2,0,38.8,3.3,3.3,3.7,6.0,1,25,29,19
21654,20264,20191027020116,9,2021-09-25 09:15:00,2021-09-25 09:21:00,2,6.4,0,39.2,2.8,3.3,3.7,6.0,1,25,29,19
21655,20264,20191027020116,11,2021-09-25 19:28:00,2021-09-25 19:35:00,3,6.4,0,39.5,2.5,3.4,3.9,7.0,1,25,29,19
21656,20264,20191027020116,13,2021-09-26 08:22:00,2021-09-26 08:29:00,1,6.2,0,39.4,2.8,3.4,4.0,7.0,1,26,26,19
21657,20264,20191027020116,13,2021-09-26 19:42:00,2021-09-26 19:49:00,2,6.4,0,39.6,2.5,3.4,3.7,7.0,1,26,26,19

In [10]:
date_cols = ['착유시작일시', '착유종료일시']
for c in date_cols:
    df[c] = pd.to_datetime(df[c], errors='coerce')  # coerce will turn bad parses into NaT

# now you can safely do:
df['착유시간대']   = df['착유시작일시'].dt.hour

In [14]:
df

,농장아이디,개체번호,착유량,착유시작일시,착유종료일시,착유회차,전도도,혈액흐름,온도,유지방,유단백,공기흐름,착유시간,나이,측정일,개체별 일일착유량,개체별 착유일수,착유시간대
0,20278,20130816010079,16,2021-09-01 06:52:00,2021-09-01 07:04:00,1,7.1,0,39.9,4.1,3.3,1.5,12.0,8,1,33,26,2
1,20278,20130816010079,17,2021-09-01 17:02:00,2021-09-01 17:11:00,2,6.8,0,40.2,4.5,3.2,2.1,9.0,8,1,33,26,3
2,20278,20130816010079,14,2021-09-02 01:41:00,2021-09-02 01:51:00,1,6.8,0,39.9,4.8,3.1,1.9,10.0,8,2,35,26,1
3,20278,20130816010079,10,2021-09-02 07:28:00,2021-09-02 07:36:00,2,6.8,0,39.6,5.0,3.1,1.7,8.0,8,2,35,26,2
4,20278,20130816010079,11,2021-09-02 14:33:00,2021-09-02 14:45:00,3,6.8,0,40.0,4.7,3.2,1.3,12.0,8,2,35,26,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21653,20264,20191027020116,9,2021-09-25 01:29:00,2021-09-25 01:35:00,1,6.2,0,38.8,3.3,3.3,3.7,6.0,1,25,29,19,1
21654,20264,20191027020116,9,2021-09-25 09:15:00,2021-09-25 09:21:00,2,6.4,0,39.2,2.8,3.3,3.7,6.0,1,25,29,19,2
21655,20264,20191027020116,11,2021-09-25 19:28:00,2021-09-25 19:35:00,3,6.4,0,39.5,2.5,3.4,3.9,7.0,1,25,29,19,4
21656,20264,20191027020116,13,2021-09-26 08:22:00,2021-09-26 08:29:00,1,6.2,0,39.4,2.8,3.4,4.0,7.0,1,26,26,19,2
21657,20264,20191027020116,13,2021-09-26 19:42:00,2021-09-26 19:49:00,2,6.4,0,39.6,2.5,3.4,3.7,7.0,1,26,26,19,4

In [ ]:
# 착유 시간대 구분

# 1) cut 으로 4구간 나눈 뒤
df['착유시간대'] = pd.cut(
    df['착유시간대'],
    bins=[0,6,12,18,24],
    right=False,
    labels=[1,2,3,4]
)

# 2) category → 정수로 변환
df['착유시간대'] = df['착유시간대'].cat.codes + 1  
# (codes가 0~3 이므로 +1 하면 원래 라벨 1~4가 됨)

# 3) 이제 dtype 확인해 보면 int64 로 바뀜
print(df['착유시간대'].dtype)  # int64

int8

In [21]:
df["P/F ratio"] = df["유단백"]/ df["유지방"]
df["착유효율"] = df["착유량"] / df["착유시간"]
df["개체별 전도도율"] = df.groupby("개체번호")["전도도"].transform("mean")
df['공기흐름_비율']=df['공기흐름']/df['착유시간']

In [22]:
import pandas as pd

# 1) 이상치 제거할 한국어 컬럼 리스트
outlier_cols = [
    '착유량',
    '착유회차',
    '전도도',
    '온도',
    '유지방',
    '유단백',
    '공기흐름',
    '착유시간'
]

# 2) 각 칼럼별 IQR 기반 하한·상한 계산 (3.0 × IQR)
bounds = {}
for col in outlier_cols:
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1
    lower = Q1 - 3 * IQR
    upper = Q3 + 3 * IQR
    bounds[col] = (lower, upper)
    print(f"{col} 하한: {lower:.2f}, 상한: {upper:.2f}")

# 3) 모든 칼럼이 허용 범위에 있는 행만 남기기
mask = pd.Series(True, index=df.index)
for col, (lower, upper) in bounds.items():
    mask &= df[col].between(lower, upper)

before = len(df)
df_clean = df.loc[mask].copy()
after = len(df_clean)

print(f"이상치 제거 전 행 수: {before}")
print(f"이상치 제거 후 행 수: {after}")
print(f"제거된 행 수: {before - after}")
# → 결과는 df_clean에 저장됩니다.

착유량 하한: -6.00, 상한: 29.00
착유회차 하한: -5.00, 상한: 9.00
전도도 하한: 5.20, 상한: 8.70
온도 하한: 36.50, 상한: 42.10
유지방 하한: 0.80, 상한: 7.10
유단백 하한: 2.10, 상한: 4.20
공기흐름 하한: -2.20, 상한: 8.30
착유시간 하한: -4.00, 상한: 17.00
이상치 제거 전 행 수: 21658
이상치 제거 후 행 수: 21050
제거된 행 수: 608

In [23]:
# 특성(X)과 타겟(y) 분리
# '착유량'이 예측하려는 타겟 변수
X = df_clean[["개체번호","공기흐름_비율","P/F ratio","개체별 착유일수","측정일","착유회차","농장아이디","착유시간"]]
y = df_clean['착유량']
# 학습 세트와 검증 세트 분할
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
print(f"학습 데이터 X_train 형태: {X_train.shape}")
print(f"검증 데이터 X_test 형태: {X_test.shape}")
print("-" * 40)
cat_feats = ['농장아이디','개체번호']
te = TargetEncoder(cols=cat_feats)
X_train_encoded = te.fit_transform(X_train, y_train)
X_test_encoded = te.transform(X_test)
param_grid = {
    'n_estimators': [250, 300, 350, 400],
    'learning_rate': [0.08, 0.1, 0.12],
    'max_depth': [4, 5, 6],
    'subsample': [0.85, 0.9, 0.95],
    'colsample_bytree': [0.85, 0.9, 0.95],
    'reg_alpha': [0.3, 0.5, 0.7],  # L1 정규화
    'reg_lambda': [0.3, 0.5, 0.7]  # L2 정규화
}
# --- XGBoost 모델 생성 및 학습 ---
xgb_model = xgb.XGBRegressor(random_state=42 , verbosity=0)
random_search = RandomizedSearchCV(
    xgb_model, param_grid, n_iter=30,
    cv=5, scoring='r2', random_state=42, n_jobs=-1
)
random_search.fit(X_train_encoded, y_train)
best_model = random_search.best_estimator_
# 검증 세트에 대한 예측
y_pred = random_search.predict(X_test_encoded)
# 성능 지표 계산
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(y_test, y_pred)
mape = mean_absolute_percentage_error(y_test, y_pred) * 100 # %로 변환
print(f"\n--- 모델 평가 결과 ---")
print(f"Mean Squared Error (MSE): {mse:.2f}")
print(f"Root Mean Squared Error (RMSE): {rmse:.2f}")
print(f"R-squared (R2): {r2:.2f}")
print(f"Mean Absolute Percentage Error (MAPE): {mape:.2f}%")
print("-" * 40)
# 과적합 확인
cv_scores3 = cross_val_score(best_model, X_train_encoded, y_train, cv=5, scoring='r2')
print(f"교차검증 R2: {cv_scores3.mean():.4f}")
print(f"과적합 정도: {abs(cv_scores3.mean() - r2):.4f}")
# --- 피처 중요도 체크 코드 시작 ---
# 피처(특성)의 이름 리스트 가져오기
feature_names = X_test_encoded.columns
# best_model에서 피처 중요도 점수 가져오기
importance_scores = best_model.feature_importances_
# 피처 이름과 중요도 점수를 데이터프레임으로 만들기
feature_importance_df = pd.DataFrame({
    'Feature': feature_names,
    'Importance': importance_scores
})
# 중요도 점수가 높은 순서대로 정렬
feature_importance_df = feature_importance_df.sort_values(by='Importance', ascending=False)
print("\n--- 피처 중요도 순위 ---")
print(feature_importance_df)
# 중요도를 시각화하여 확인 (선택 사항)
plt.figure(figsize=(10, 8))
plt.barh(feature_importance_df['Feature'], feature_importance_df['Importance'])
plt.xlabel("Importance")
plt.ylabel("Feature")
plt.title("XGBoost Feature Importance")
plt.gca().invert_yaxis() # 가장 중요한 피처가 맨 위에 오도록 정렬
plt.show()

NameError: name 'train_test_split' is not defined