In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("/Users/Jiwon/Documents/GitHub/practical_project/csv/test.csv", encoding="cp949")

In [4]:
df

,농장아이디,개체번호,착유량,착유시작일시,착유종료일시,착유회차,전도도,혈액흐름,온도,유지방,유단백,공기흐름,착유시간,나이,측정일,개체별 일일착유량,개체별 착유일수
0,20278,20130816010079,16,2021-09-01 06:52:00,2021-09-01 07:04:00,1,7.1,0,39.9,4.1,3.3,1.5,12.0,8,1,33,26
1,20278,20130816010079,17,2021-09-01 17:02:00,2021-09-01 17:11:00,2,6.8,0,40.2,4.5,3.2,2.1,9.0,8,1,33,26
2,20278,20130816010079,14,2021-09-02 01:41:00,2021-09-02 01:51:00,1,6.8,0,39.9,4.8,3.1,1.9,10.0,8,2,35,26
3,20278,20130816010079,10,2021-09-02 07:28:00,2021-09-02 07:36:00,2,6.8,0,39.6,5.0,3.1,1.7,8.0,8,2,35,26
4,20278,20130816010079,11,2021-09-02 14:33:00,2021-09-02 14:45:00,3,6.8,0,40.0,4.7,3.2,1.3,12.0,8,2,35,26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21653,20264,20191027020116,9,2021-09-25 01:29:00,2021-09-25 01:35:00,1,6.2,0,38.8,3.3,3.3,3.7,6.0,1,25,29,19
21654,20264,20191027020116,9,2021-09-25 09:15:00,2021-09-25 09:21:00,2,6.4,0,39.2,2.8,3.3,3.7,6.0,1,25,29,19
21655,20264,20191027020116,11,2021-09-25 19:28:00,2021-09-25 19:35:00,3,6.4,0,39.5,2.5,3.4,3.9,7.0,1,25,29,19
21656,20264,20191027020116,13,2021-09-26 08:22:00,2021-09-26 08:29:00,1,6.2,0,39.4,2.8,3.4,4.0,7.0,1,26,26,19
21657,20264,20191027020116,13,2021-09-26 19:42:00,2021-09-26 19:49:00,2,6.4,0,39.6,2.5,3.4,3.7,7.0,1,26,26,19

In [14]:
# 1) rename 사용하기
df = df.rename(columns={
    '농장아이디': 'farm_id',
    '개체번호': 'individual_id',
    '착유량': 'milk_yield',
    '착유시작일시': 'milking_start_time',
    '착유종료일시': 'milking_end_time',
    '착유회차': 'milking_session',
    '전도도': 'conductivity',
    '혈액흐름': 'blood_flow',
    '온도': 'temperature',
    '유지방': 'milk_fat',
    '유단백': 'milk_protein',
    '공기흐름': 'air_flow',
    '착유시간': 'milking_duration',
    '나이': 'age',
    '측정일': 'measurement_date',
    '개체별 일일착유량': 'daily_milk_yield_per_individual',
    '개체별 착유일수': 'milking_days_per_individual'
})

In [16]:
df.to_csv("test_eng.csv", index=False, encoding="utf-8-sig")