In [14]:
import pandas as pd

In [15]:
import pandas as pd

df = pd.read_csv("/Users/Jiwon/Documents/GitHub/practical_project/csv/스마트팜_수정데이터.csv", encoding="cp949")

df

,농장아이디,개체번호,축종코드,제조사 아이디,측정일시,착유량,착유시작일시,착유종료일시,착유회차,전도도,체세포,혈액흐름,온도,유지방,유단백,공기흐름,수집일자,수집건수
0,20278,20130816010079,D00,agrirobotech,2021-09-01 6:52,16,2021-09-01 6:52,2021-09-01 7:04,1,7.1,NaN,N,39.9,4.1,3.3,1.5,20210902,1
1,20278,20130816010079,D00,agrirobotech,2021-09-01 17:02,17,2021-09-01 17:02,2021-09-01 17:11,2,6.8,NaN,N,40.2,4.5,3.2,2.1,20210902,1
2,20278,20130816010079,D00,agrirobotech,2021-09-02 1:41,14,2021-09-02 1:41,2021-09-02 1:51,1,6.8,NaN,N,39.9,4.8,3.1,1.9,20210903,1
3,20278,20130816010079,D00,agrirobotech,2021-09-02 7:28,10,2021-09-02 7:28,2021-09-02 7:36,2,6.8,NaN,N,39.6,5.0,3.1,1.7,20210903,1
4,20278,20130816010079,D00,agrirobotech,2021-09-02 14:33,11,2021-09-02 14:33,2021-09-02 14:45,3,6.8,NaN,N,40.0,4.7,3.2,1.3,20210903,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27921,20264,20191027020116,D00,agrirobotech,2021-09-25 1:29,9,2021-09-25 1:29,2021-09-25 1:35,1,6.2,NaN,N,38.8,3.3,3.3,3.7,20210926,1
27922,20264,20191027020116,D00,agrirobotech,2021-09-25 9:15,9,2021-09-25 9:15,2021-09-25 9:21,2,6.4,NaN,N,39.2,2.8,3.3,3.7,20210926,1
27923,20264,20191027020116,D00,agrirobotech,2021-09-25 19:28,11,2021-09-25 19:28,2021-09-25 19:35,3,6.4,NaN,N,39.5,2.5,3.4,3.9,20210926,1
27924,20264,20191027020116,D00,agrirobotech,2021-09-26 8:22,13,2021-09-26 8:22,2021-09-26 8:29,1,6.2,NaN,N,39.4,2.8,3.4,4.0,20210927,1
27925,20264,20191027020116,D00,agrirobotech,2021-09-26 19:42,13,2021-09-26 19:42,2021-09-26 19:49,2,6.4,NaN,N,39.6,2.5,3.4,3.7,20210927,1

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27926 entries, 0 to 27925
Data columns (total 18 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   농장아이디    27926 non-null  int64
 1   개체번호     27926 non-null  int64
 2   축종코드     27926 non-null  object
 3   제조사 아이디  27926 non-null  object
 4   측정일시     27926 non-null  object
 5   착유량      27926 non-null  int64
 6   착유시작일시   27926 non-null  object
 7   착유종료일시   27926 non-null  object
 8   착유회차     27926 non-null  int64
 9   전도도      27926 non-null  float64
 10  체세포      0 non-null      float64
 11  혈액흐름     27926 non-null  object
 12  온도       27926 non-null  float64
 13  유지방      27874 non-null  float64
 14  유단백      27874 non-null  float64
 15  공기흐름     27926 non-null  float64
 16  수집일자     27926 non-null  int64
 17  수집건수     27926 non-null  int64
dtypes: float64(6), int64(6), object(6)
memory usage: 3.8+ MB

== 전처리 ==
체세포 전부 null  -> 컬럼 제거
온도, 유지방 null 존재  -> 결측치 제거
착유시작일시, 착유종료일시 -> datetype으로 변경
수집건수 모두 1 -> 컬럼 제거
측정일시 = 착유시작일시 -> 측정일시 컬럼 제거
제조사 아이디 모두 동일 -> 컬럼 제거
축종코드 모두 동일 -> 컬럼 제거

In [16]:
# 체세포, 수집건수, 측정일시, 제조사 아이디, 축종코드 컬럼 제거

df = df.drop(columns=['체세포', '수집건수', '측정일시', '제조사 아이디', '축종코드'])

In [17]:
df

,농장아이디,개체번호,착유량,착유시작일시,착유종료일시,착유회차,전도도,혈액흐름,온도,유지방,유단백,공기흐름,수집일자
0,20278,20130816010079,16,2021-09-01 6:52,2021-09-01 7:04,1,7.1,N,39.9,4.1,3.3,1.5,20210902
1,20278,20130816010079,17,2021-09-01 17:02,2021-09-01 17:11,2,6.8,N,40.2,4.5,3.2,2.1,20210902
2,20278,20130816010079,14,2021-09-02 1:41,2021-09-02 1:51,1,6.8,N,39.9,4.8,3.1,1.9,20210903
3,20278,20130816010079,10,2021-09-02 7:28,2021-09-02 7:36,2,6.8,N,39.6,5.0,3.1,1.7,20210903
4,20278,20130816010079,11,2021-09-02 14:33,2021-09-02 14:45,3,6.8,N,40.0,4.7,3.2,1.3,20210903
...,...,...,...,...,...,...,...,...,...,...,...,...,...
27921,20264,20191027020116,9,2021-09-25 1:29,2021-09-25 1:35,1,6.2,N,38.8,3.3,3.3,3.7,20210926
27922,20264,20191027020116,9,2021-09-25 9:15,2021-09-25 9:21,2,6.4,N,39.2,2.8,3.3,3.7,20210926
27923,20264,20191027020116,11,2021-09-25 19:28,2021-09-25 19:35,3,6.4,N,39.5,2.5,3.4,3.9,20210926
27924,20264,20191027020116,13,2021-09-26 8:22,2021-09-26 8:29,1,6.2,N,39.4,2.8,3.4,4.0,20210927
27925,20264,20191027020116,13,2021-09-26 19:42,2021-09-26 19:49,2,6.4,N,39.6,2.5,3.4,3.7,20210927

In [24]:
# 유지방 유단백 null 값 
print(df[['유지방', '유단백']].isna().mean())
df[df[['유지방', '유단백']].isna().any(axis=1)]

유지방    0.001862
유단백    0.001862
dtype: float64

,농장아이디,개체번호,착유량,착유시작일시,착유종료일시,착유회차,전도도,혈액흐름,온도,유지방,유단백,공기흐름,수집일자
4210,20338,20161021020021,0,2021-09-08 4:58,2021-09-08 5:01,1,7.0,N,34.6,NaN,NaN,0.2,20210909
4211,20261,20161021010036,0,2021-09-08 4:58,2021-09-08 5:01,1,7.0,N,34.6,NaN,NaN,0.2,20210909
4212,20261,20161021010036,1,2021-09-08 16:11,2021-09-08 16:15,2,6.6,N,38.1,NaN,NaN,1.6,20210909
4213,20338,20161021020021,1,2021-09-08 16:11,2021-09-08 16:15,2,6.6,N,38.1,NaN,NaN,1.6,20210909
4216,20261,20161021010036,1,2021-09-10 2:30,2021-09-10 2:35,1,6.6,N,37.0,NaN,NaN,1.8,20210911
4217,20338,20161021020021,1,2021-09-10 2:30,2021-09-10 2:35,1,6.6,N,37.0,NaN,NaN,1.8,20210911
4218,20261,20161021010036,1,2021-09-11 1:39,2021-09-11 1:44,1,6.6,N,36.8,NaN,NaN,1.8,20210912
4219,20338,20161021020021,1,2021-09-11 1:39,2021-09-11 1:44,1,6.6,N,36.8,NaN,NaN,1.8,20210912
4238,20338,20161021020021,0,2021-09-21 5:00,2021-09-21 5:06,1,4.7,N,32.4,NaN,NaN,0.3,20210922
4239,20261,20161021010036,0,2021-09-21 5:00,2021-09-21 5:06,1,4.7,N,32.4,NaN,NaN,0.3,20210922
4240,20338,20161021020021,0,2021-09-23 16:18,2021-09-23 16:24,1,2.1,N,31.9,NaN,NaN,0.4,20210924
4241,20261,20161021010036,0,2021-09-23 16:18,2021-09-23 16:24,1,2.1,N,31.9,NaN,NaN,0.4,20210924
6016,20261,20170524010053,1,2021-09-05 17:39,2021-09-05 17:44,2,6.4,N,37.1,NaN,NaN,1.2,20210906
6017,20338,20170524020105,1,2021-09-05 17:39,2021-09-05 17:44,2,6.4,N,37.1,NaN,NaN,1.2,20210906
6074,20261,20170524010053,2,2021-09-21 21:20,2021-09-21 21:24,2,6.8,N,37.2,NaN,NaN,1.4,20210922
6075,20338,20170524020105,2,2021-09-21 21:20,2021-09-21 21:24,2,6.8,N,37.2,NaN,NaN,1.4,20210922
7174,20261,20171228010061,9,2021-09-24 6:52,2021-09-24 6:59,1,6.4,N,38.1,NaN,NaN,1.7,20210925
7175,20338,20171228020140,9,2021-09-24 6:52,2021-09-24 6:59,1,6.4,N,38.1,NaN,NaN,1.7,20210925
11304,20338,20190226020041,1,2021-09-21 6:39,2021-09-21 6:43,3,6.6,N,37.4,NaN,NaN,0.7,20210922
11305,20261,20190226010094,1,2021-09-21 6:39,2021-09-21 6:43,3,6.6,N,37.4,NaN,NaN,0.7,20210922
16265,20279,20170722010012,1,2021-09-05 13:40,2021-09-05 13:44,2,7.8,N,37.6,NaN,NaN,0.9,20210906
16268,20279,20170722010012,0,2021-09-06 19:14,2021-09-06 19:19,2,5.8,N,31.0,NaN,NaN,0.4,20210907
16269,20279,20170722010012,1,2021-09-07 5:57,2021-09-07 6:02,1,6.7,N,36.0,NaN,NaN,0.8,20210908
16270,20279,20170722010012,0,2021-09-07 14:58,2021-09-07 15:01,2,7.7,N,34.2,NaN,NaN,0.5,20210908
16272,20279,20170722010012,0,2021-09-08 8:32,2021-09-08 8:36,1,8.1,N,37.2,NaN,NaN,0.5,20210909
16274,20279,20170722010012,1,2021-09-09 6:37,2021-09-09 6:41,1,8.3,N,37.2,NaN,NaN,1.0,20210910
16275,20279,20170722010012,0,2021-09-09 19:26,2021-09-09 19:31,2,7.9,N,35.4,NaN,NaN,0.5,20210910
16276,20279,20170722010012,0,2021-09-10 14:46,2021-09-10 14:51,1,7.6,N,36.0,NaN,NaN,0.7,20210911
16277,20279,20170722010012,0,2021-09-11 3:11,2021-09-11 3:15,1,8.5,N,34.9,NaN,NaN,0.9,20210912
16278,20279,20170722010012,0,2021-09-11 18:58,2021-09-11 19:00,2,8.2,N,37.0,NaN,NaN,0.5,20210912
16279,20279,20170722010012,1,2021-09-12 5:44,2021-09-12 5:48,1,7.7,N,35.7,NaN,NaN,1.2,20210913
16280,20279,20170722010012,0,2021-09-12 14:57,2021-09-12 15:01,2,7.9,N,37.9,NaN,NaN,0.8,20210913
16281,20279,20170722010012,0,2021-09-12 23:39,2021-09-12 23:44,3,7.8,N,36.6,NaN,NaN,0.7,20210913
16282,20279,20170722010012,0,2021-09-13 17:54,2021-09-13 17:58,1,5.7,N,35.2,NaN,NaN,0.2,20210914
16283,20279,20170722010012,0,2021-09-14 22:02,2021-09-14 22:07,1,5.7,N,31.7,NaN,NaN,0.5,20210915
16284,20279,20170722010012,0,2021-09-15 7:16,2021-09-15 7:21,1,7.5,N,34.7,NaN,NaN,0.8,20210916
16285,20279,20170722010012,0,2021-09-15 17:26,2021-09-15 17:31,2,7.8,N,36.3,NaN,NaN,0.8,20210916
16286,20279,20170722010012,0,2021-09-16 2:18,2021-09-16 2:22,1,8.1,N,32.7,NaN,NaN,0.6,20210917
16287,20279,20170722010012,0,2021-09-16 11:45,2021-09-16 11:49,2,7.9,N,33.9,NaN,NaN,0.9,20210917
16288,20279,20170722010012,0,2021-09-16 22:47,2021-09-16 22:50,3,8.4,N,35.6,NaN,NaN,0.8,20210917
16289,20279,20170722010012,0,2021-09-17 8:12,2021-09-17 8:16,1,8.5,N,35.6,NaN,NaN,0.6,20210918
16290,20279,20170722010012,0,2021-09-17 18:36,2021-09-17 18:40,2,8.4,N,37.2,NaN,NaN,0.7,20210918
16291,20279,20170722010012,0,2021-09-18 8:59,2021-09-18 9:03,1,7.8,N,33.8,NaN,NaN,0.6,20210919
16292,20279,20170722010012,0,2021-09-19 4:40,2021-09-19 4:45,1,5.9,N,29.9,NaN,NaN,0.6,20210920
16293,20279,20170722010012,0,2021-09-19 15:25,2021-09-19 15:29,2,8.0,N,35.0,NaN,NaN,0.5,20210920
17889,20332,20190307020022,3,2021-09-19 7:10,2021-09-19 7:17,1,7.8,N,38.6,NaN,NaN,1.2,20210920
17890,21133,20190305010086,3,2021-09-19 7:10,2021-09-19 7:17,1,7.8,N,38.6,NaN,NaN,1.2,20210920
21613,21133,20180127010011,1,2021-09-25 5:48,2021-09-25 5:54,2,7.0,N,37.6,NaN,NaN,1.3,20210926
21614,20332,20180127020089,1,2021-09-25 5:48,2021-09-25 5:54,2,7.0,N,37.6,NaN,NaN,1.3,20210926
21827,21133,20180314010058,0,2021-09-17 18:09,2021-09-17 18:13,3,6.9,N,36.5,NaN,NaN,0.6,20210918
21828,20332,20180314020081,0,2021-09-17 18:09,2021-09-17 18:13,3,6.9,N,36.5,NaN,NaN,0.6,20210918
26181,20264,20180323020067,0,2021-09-08 4:13,2021-09-08 4:17,1,7.7,N,35.9,NaN,NaN,0.9,20210909

---> 어떻게 처리할 지...

In [ ]:
# 착유시작일시, 종료일시 datetime으로 변환

df['착유시작일시'] = pd.to_datetime(df['착유시작일시'])
df['착유종료일시'] = pd.to_datetime(df['착유종료일시'])


# 착유시간 계산

df['착유시간'] = (df['착유종료일시'] - df['착유시작일시']).dt.total_seconds() / 60

print("=== 착유시간 ===\n")
print(df[['개체번호', '착유시간']].head())
print("\n")
print(df['착유시간'].describe())

=== 착유시간 그리기 ===

             개체번호  착유시간
0  20130816010079  12.0
1  20130816010079   9.0
2  20130816010079  10.0
3  20130816010079   8.0
4  20130816010079  12.0


count    27926.000000
mean         6.957029
std          2.288537
min          2.000000
25%          5.000000
50%          7.000000
75%          8.000000
max         80.000000
Name: 착유시간, dtype: float64

In [38]:
# 착유간격 구하기

df = df.sort_values(['개체번호', '착유시작일시'])
df['prev_end'] = df.groupby('개체번호')['착유종료일시'].shift(1)
df['착유간격'] = (df['착유시작일시'] - df['prev_end']).dt.total_seconds() / 3600
df['착유간격'] = (
    df.groupby('개체번호')['착유간격']
      .transform(lambda x: x.fillna(x.mean()))
)
df = df.drop(columns='prev_end')


print("=== 착유간격 ===")
print(df[['개체번호', '착유간격']].head())
print("\n")
print(df['착유간격'].describe())

=== 착유간격 ===
                 개체번호       착유간격
21465  20071210010043  14.264394
21467  20071210010043  10.566667
21470  20071210010043  12.750000
21471  20071210010043  10.966667
21473  20071210010043  12.566667


count    27926.000000
mean         8.512848
std          4.563104
min          0.016667
25%          6.116667
50%          7.333333
75%          9.183333
max         90.133333
Name: 착유간격, dtype: float64

In [40]:
df

,농장아이디,개체번호,착유량,착유시작일시,착유종료일시,착유회차,전도도,혈액흐름,온도,유지방,유단백,공기흐름,수집일자,착유시간,착유간격
21465,21133,20071210010043,13,2021-09-13 07:49:00,2021-09-13 07:58:00,1,7.3,N,38.2,5.0,3.2,2.0,20210914,9.0,14.264394
21467,21133,20071210010043,11,2021-09-13 18:32:00,2021-09-13 18:41:00,2,7.1,N,38.6,5.2,3.3,1.9,20210914,9.0,10.566667
21470,21133,20071210010043,11,2021-09-14 07:26:00,2021-09-14 07:34:00,1,7.3,N,38.2,5.6,3.2,1.9,20210915,8.0,12.750000
21471,21133,20071210010043,12,2021-09-14 18:32:00,2021-09-14 18:40:00,2,7.2,N,38.5,5.0,3.3,2.3,20210915,8.0,10.966667
21473,21133,20071210010043,11,2021-09-15 07:14:00,2021-09-15 07:23:00,1,7.4,N,38.2,5.3,3.2,1.7,20210916,9.0,12.566667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27921,20264,20191027020116,9,2021-09-25 01:29:00,2021-09-25 01:35:00,1,6.2,N,38.8,3.3,3.3,3.7,20210926,6.0,7.216667
27922,20264,20191027020116,9,2021-09-25 09:15:00,2021-09-25 09:21:00,2,6.4,N,39.2,2.8,3.3,3.7,20210926,6.0,7.666667
27923,20264,20191027020116,11,2021-09-25 19:28:00,2021-09-25 19:35:00,3,6.4,N,39.5,2.5,3.4,3.9,20210926,7.0,10.116667
27924,20264,20191027020116,13,2021-09-26 08:22:00,2021-09-26 08:29:00,1,6.2,N,39.4,2.8,3.4,4.0,20210927,7.0,12.783333
27925,20264,20191027020116,13,2021-09-26 19:42:00,2021-09-26 19:49:00,2,6.4,N,39.6,2.5,3.4,3.7,20210927,7.0,11.216667

In [41]:
df['유지방'].describe()

count    27874.000000
mean         3.958406
std          0.757899
min          0.200000
25%          3.500000
50%          4.000000
75%          4.400000
max         10.500000
Name: 유지방, dtype: float64